* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

p {
  margin: 0;
}

@font-face {
  font-family: "PlayfairDisplay-SemiBold";
  src: url("../assets/fuente/Lato-Italic.ttf");
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../assets/fuente/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato-Italic";
  src: url("../assets/fuente/Lato-Italic.ttf");
}
.playfairDisplay {
  font-family: "PlayfairDisplay-SemiBold";
  font-size: 25px;
}

.latoRegular {
  font-family: "Lato-Regular", sans-serif;
  font-size: 18px;
}

.latoItalic {
  font-family: "Lato-Italic", sans-serif;
  font-size: 18px;
}

header {
  background-color: rgb(29, 28, 28);
}
header .navbar-collapse ul li a {
  font-size: 1.3rem;
  text-decoration: none;
  color: rgb(188, 201, 206);
}

body {
  background-image: url("../assets/imagenes/background-blue-dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  background-color: rgb(29, 28, 28);
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerCopyright {
  font-family: "Lato-Regular";
  font-size: 12px;
  color: rgb(238, 222, 255);
}

.titulo {
  padding: 2rem;
  text-align: center;
  color: #f0efef;
}

.tituloH1 {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translate(50%, 50%);
  z-index: 5;
  animation-name: move;
  animation-duration: 4s;
  animation-delay: 1s;
}

@keyframes move {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.better {
  --bs-gutter-x: 0;
  position: relative;
}

.props {
  height: 100%;
  padding: 1.3rem;
  /*background-color: rgb(188, 201, 206);*/
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, #888888, #ffffff);
}

.contenidoCajas {
  text-align: center;
  font-size: 1.2rem;
}
@media screen and (max-width: 576px) and (max-width: 768px) {
  .contenidoCajas {
    font-size: 1.1rem;
  }
}

.btn-darkgrey {
  width: 100%;
  color: #fff;
  background-color: rgb(29, 28, 28);
}
.btn-darkgrey:hover {
  background-color: transparent;
  border: 1px solid rgb(29, 28, 28);
  color: rgb(29, 28, 28);
}

.bg-darkgrey {
  background-color: rgb(29, 28, 28);
}

.contenidoCajaLista {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contenidoCajaLista li {
  font-size: 1.2rem;
}

.tituloSoluciones {
  padding-top: 5px;
  padding-left: 40px;
  padding-bottom: 15px;
  color: #fff;
}

.contenidoCajaLista {
  color: #000000;
  list-style-type: none;
}

.cajaNosotros {
  padding: 2.5rem;
  background-color: rgb(188, 201, 206);
}

.contenidoCajaNosotros {
  font-size: 20px;
}

.video {
  padding: 1rem;
}
.video iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.contenido-principal .row {
  background-color: rgb(29, 28, 28);
}
@media screen and (max-width: 576px) and (max-width: 768px) {
  .contenido-principal .row .col img {
    width: 100%;
  }
}

.containerGrid {
  display: grid;
  width: 98%;
  height: 900px;
  margin-left: 10px;
  margin-bottom: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px 300px;
}

.divPortfolio > img {
  width: 420px;
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 15px;
  transition: transform 0.3s ease;
}

.divPortfolio > img:hover {
  transform: scale(1.1);
}

.gap {
  gap: 5px;
}

.props2 {
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 100%;
  background: linear-gradient(to bottom, #888888, #ffffff);
}

.conteinerServicios1 {
  background-color: rgb(188, 201, 206);
}

.conteinerServicios2 {
  background-color: rgb(29, 28, 28);
  color: #fff;
}

.propFormulario {
  color: #fff;
}
.propFormulario form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: rgb(29, 28, 28);
}
.propFormulario form label {
  font-family: "Lato-Regular";
  font-size: 18px;
  text-align: center;
}
.propFormulario form input {
  font-family: "Lato-Regular";
  font-size: 18px;
  margin: 5px;
}
.propFormulario form textarea {
  font-family: "Lato-Regular";
  font-size: 18px;
}
.propFormulario form .input-text {
  font-size: 17px;
  width: 100%;
  border: none;
  padding: 1.5rem;
  border-radius: 10px;
  height: 25px;
}
.propFormulario form .btn-personal {
  color: rgb(29, 28, 28);
  background-color: rgb(233, 233, 233);
}
.propFormulario form .btn-personal:hover {
  background-color: rgb(143, 143, 143);
}

.colContactanos {
  padding: 2rem;
  background-color: rgb(233, 233, 233);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}
.colContactanos p {
  font-size: 1.3rem;
}
@media screen and (max-width: 576px) and (max-width: 768px) {
  .colContactanos p {
    font-size: 1.6rem;
  }
}

.iconosRedesSociales {
  display: flex;
  gap: 1.7rem;
  align-items: center;
  justify-content: center;
}
.iconosRedesSociales a {
  color: rgb(2, 2, 2);
  text-decoration: none;
  transition: all 0.3s ease;
}
.iconosRedesSociales a:hover {
  color: rgb(69, 68, 68);
  transform: scale(1.2);
}

/******* MQ- Tablet ********/
@media (max-width: 1024px) {
  /******* Pagina Portfolio *******/
  .containerGrid {
    width: 98%;
    height: 550px;
    margin-left: 10px;
    margin-right: 40px;
    margin-bottom: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 180px 180px 180px;
  }
  .divPortfolio > img {
    width: 95%;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 5px;
    transition: transform 0.3s ease;
  }
  .divPortfolio > img:hover {
    transform: scale(1.1);
  }
}
/***** MQ - Mobile ******/
@media (max-width: 768px) {
  /******* Pagina Portfolio *******/
  .containerGrid {
    width: 90%;
    height: 2500px;
    margin-left: 25px;
    margin-right: 40px;
    margin-bottom: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 265px;
  }
  .divPortfolio > img {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    transition: transform 0.3s ease;
  }
  .divPortfolio > img:hover {
    transform: scale(1.1);
  }
}

/*# sourceMappingURL=main.css.map */
