.titulo {
    margin : 40px;
    padding-top: 20px ;
    text-align: center;
}




label {
    font-family: "Lato-Regular";
    font-size: 18px;
}


input {
    font-family: "Lato-Regular";
    font-size: 18px;
    margin: 5px;
}


textarea {
    font-family: "Lato-Regular";
    font-size: 18px;
}

.propFormulario{
    display: inline-block;
    width: 520px;
    height: 365px;
    background-color: rgb(29, 28, 28);
    color: #fff;
    margin-left: 45px;
    margin-bottom: 40px;
    margin-right: 50px;
}

.contenidoCajaFormulario {
    padding: 15px;
    width: auto;
    height: 520px;
}

.input-text {
    font-size: 17px;
    width: 70%;
    border: none;
    padding: 10px;
    border-radius: 10px;
    height: 25px;
    margin: 10px;
}

.label {
    padding: 12px;
    font-size: 18px;
}

.campo label { 
    color: #fff;
    font-weight: 16px;
    display: inline-block;
    font-size: 18px; 
    text-align: center;
}

.text-area {
    padding: 15px;
    border-radius: 10px;
    width: 450px;
}


.btn-primary {
      color: #fff  
}


.container-fluid-contacto {
    background-color: rgb(198, 198, 233);
    height: 560px;
    padding-left: 40px;
    padding-top: 15px;
}


.rowContacto {
height: 365px;
display: flex;
padding-top: 90px;
}

.colContactanos {
    display: inline-block;
    width: 520px;
    height: 365px;
    background-color: rgb(233, 233, 233);
    padding-top: 50px;
    margin-left: 40px;
    margin-bottom: 40px;  
}

.parrafoContactanos {
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
}

.iconosRedesSociales{
    display: inline-flex;
    border-radius: 50%;
    background-color: rgb(36, 36, 39);
    width: 40px;
    min-height: 40px;
    align-items: center;
    justify-content:center;
    color: #fff;
    position:relative;
}

.iconosRedesSocialesHover:hover {
    text-decoration: none;
    color: rgb(2, 2, 2);
    background-color: rgb(255, 251, 251);   
}


/******** Vista Mobile - Media Queries - Página Contacto  ********/ 

@media (max-width: 480px) {
    .propFormulario{
        width: 416px;
        height: 320px;
        background-color: rgb(29, 28, 28);
        color: #fff;
        margin-top: 19px;
        margin-left: 11px;
        margin-bottom: 15px;
        margin-right: 5px;
    }
    
    .contenidoCajaFormulario {
        padding: 15px;
        width: 400px; 
    }
    
    .input-text {
        font-size: 12px;
        width: 60%;
        border: none;
        padding: 10px;
        border-radius: 10px;
        height: 25px;
        margin: 5px;
    }
    
    .label {
        padding: 12px;
        font-size: 14px;
        color: #fff;  
    }
    
    .campo label { 
        color: #fff;
        font-weight: 16px;
        display: inline-block;
        font-size: 14px; 
        text-align: center;
    }
    
    .text-area {
        padding: 10px;
        border-radius: 10px;
        width: 380px;
        font-size: 14px;
        color: #fff;
    }
    
    .btn-primary {
        display: grid;
        padding-top: -10px;
        font-size: 14px;
        size: 15px;
    }
    
    .container-fluid-contacto {
        height: 780px;
        background-color: rgb(200, 200, 252);
        padding-left: 3px;
        padding-right: 15px;
        padding-top: 30px;
    }

    h3 {
        font-family: "PlayfairDisplay";
        font-size: 25px;
    }
    
    .rowContacto {
        height: 365px;
        display: inline;
        padding-top: 5px;
    }
    
    .colContactanos {
        width: 416px;
        height: 365px;
        background-color: rgb(233, 233, 233);
        padding-top: 50px;
        margin-left: 15px;
        margin-bottom: 20px;
    }
    
    
    .parrafoContactanos {
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        font-size: 14px;
    }
    
    .iconosRedesSociales{
        border-radius: 50%;
        background-color: rgb(36, 36, 39);
        width: 40px;
        min-height: 40px;
        margin-bottom: 25px;
        align-items: center;
        justify-content:center;
        color: #fff;
        position:relative;
    }
    
    .iconosRedesSocialesHover:hover {
        text-decoration: none;
        color: rgb(2, 2, 2);
        background-color: rgb(255, 251, 251);
    }
    }

    /***** Media Querie min -481 px - max 600px - Página Contacto  ******/
@media (min-width: 481px) and (max-width: 600px) {
    .propFormulario{
        width: 440px;
        height: 320px;
        background-color: rgb(29, 28, 28);
        color: #fff;
        margin-top: 19px;
        margin-left: 11px;
        margin-bottom: 15px;
        margin-right: 5px;
    }
    
    .contenidoCajaFormulario {
        padding: 15px;
        width: 400px; 
    }
    
    .input-text {
        font-size: 12px;
        width: 74%;
        border: none;
        padding: 10px;
        border-radius: 10px;
        height: 25px;
        margin: 5px;
    }
    
    .label {
        padding: 12px;
        font-size: 14px;
        color: #fff;   
    }
    
    .campo label { 
        color: #fff;
        font-weight: 16px;
        display: inline-block;
        font-size: 14px; 
        text-align: center;
    }
    
    .text-area {
        padding: 10px;
        border-radius: 10px;
        width: 380px;
        font-size: 14px;
        color: #fff;
    }
    
    .btn-primary {
        display: grid;
        padding-top: -10px;
        font-size: 14px;
        size: 15px;
    }
    
    .container-fluid-contacto {
        height: 780px;
        background-color: rgb(200, 200, 252);
        padding-left: 3px;
        padding-right: 15px;
        padding-top: 30px;
    }

    h3 {
        font-family: "PlayfairDisplay";
        font-size: 25px;
    }
    
    .rowContacto {
        height: 365px;
        display: inline;
        padding-top: 5px;
    }
    
    .colContactanos {
        width: 440px;
        height: 300px;
        background-color: rgb(233, 233, 233);
        padding-top: 50px;
        margin-left: 15px;
        margin-bottom: 20px;
    }
    
    
    .parrafoContactanos {
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        font-size: 14px;
    }
    
    .iconosRedesSociales{
        
        border-radius: 50%;
        background-color: rgb(36, 36, 39);
        width: 40px;
        min-height: 40px;
        margin-bottom: 25px;
        align-items: center;
        justify-content:center;
        color: #fff;
        position:relative;
    }
    
    .iconosRedesSocialesHover:hover {
        text-decoration: none;
        color: rgb(2, 2, 2);
        background-color: rgb(255, 251, 251);
    }
    }

/****** Media Querie min width 601px and max width: 900px - Página Contacto  ********/

@media (min-width: 601px) and (max-width: 900px) {
    .propFormulario{
        width: 440px;
        height: 320px;
        background-color: rgb(29, 28, 28);
        color: #fff;
        margin-top: 19px;
        margin-left: 11px;
        margin-bottom: 15px;
        margin-right: 5px;
    }
    
    .contenidoCajaFormulario {
        padding: 15px;
        width: 400px; 
    }
    
    .input-text {
        font-size: 12px;
        width: 74%;
        border: none;
        padding: 10px;
        border-radius: 10px;
        height: 25px;
        margin: 5px;
    }
    
    .label {
        padding: 12px;
        font-size: 14px;
        color: #fff;   
    }
    
    .campo label { 
        color: #fff;
        font-weight: 16px;
        display: inline-block;
        font-size: 14px; 
        text-align: center;
    }
    
    .text-area {
        padding: 10px;
        border-radius: 10px;
        width: 380px;
        font-size: 14px;
        color: #fff;
    }
    
    .btn-primary {
        display: grid;
        padding-top: -10px;
        font-size: 14px;
        size: 15px;
    }
    
    .container-fluid-contacto {
        height: 780px;
        background-color: rgb(200, 200, 252);
        padding-left: 3px;
        padding-right: 15px;
        padding-top: 30px;
    }

    h3 {
        font-family: "PlayfairDisplay";
        font-size: 25px;
    }
    
    .rowContacto {
        height: 365px;
        display: inline;
        padding-top: 5px;
    }
    
    .colContactanos {
        width: 440px;
        height: 300px;
        background-color: rgb(233, 233, 233);
        padding-top: 50px;
        margin-left: 15px;
        margin-bottom: 20px;
    }
    
    .parrafoContactanos {
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        font-size: 14px;
    }
    
    .iconosRedesSociales{
        border-radius: 50%;
        background-color: rgb(36, 36, 39);
        width: 40px;
        min-height: 40px;
        margin-bottom: 25px;
        align-items: center;
        justify-content:center;
        color: #fff;
        position:relative;
    }
    
    .iconosRedesSocialesHover:hover {
        text-decoration: none;
        color: rgb(2, 2, 2);
        background-color: rgb(255, 251, 251);
    }
    } 







