footer {
    
    background-color: rgb(29, 28, 28);
    padding: 10px;
    padding-left: 50px;

}

.footerCopyright {
    font-family: "Lato-Regular";
    font-size: 12px;
    color: rgb(238, 222, 255);
    padding-left: 500px;
}