header {
  background-color: rgb(29, 28, 28);

.navbar-collapse{
  ul{
    li{
      a {
        font-size: 1.3rem;
        text-decoration: none;
        color: rgb(188, 201, 206)
      }
    }
  }
}
      
}
