


/******* MQ- Tablet ********/
@media (max-width: 1024px) {

    /******* Pagina Portfolio *******/
  
  .containerGrid {
      width: 98%;
      height: 550px;
      margin-left: 10px;
      margin-right: 40px;
      margin-bottom: 5px;
      background-color: rgb(199, 199, 199);
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 180px 180px 180px;
  }
  .divPortfolio >img {
      width: 95%;
      padding-top: 20px;
      padding-left: 10px;
      padding-bottom: 5px; 
      transition: transform 0.3s ease;
  }
  .divPortfolio > img:hover {
      transform: scale(1.1);
    }
  
  
  }
  
  
  /***** MQ - Mobile ******/
  
   @media (max-width: 768px) {
  
    /******* Pagina Portfolio *******/
  
  .containerGrid {
      width: 90%;
      height: 2500px;
      margin-left: 25px;
      margin-right: 40px;
      margin-bottom: 10px;
      background-color: rgb(199, 199, 199);
      grid-template-columns: 1fr;
      grid-template-rows: 265px;
  }
  .divPortfolio >img {
      width: 100%;
      padding-top: 0;
      padding-left: 0;
      padding-bottom: 0;
      transition: transform 0.3s ease;
  }
  .divPortfolio > img:hover {
      transform: scale(1.1);
  }
  
  
  }
  
  
  
  
  
  