.titulo {
    margin : 40px;
    padding-top: 20px ;
    text-align: center;
}


.cajaNosotros {
    width: 100%;
    height: 300px;
    background-color: rgb(188, 201, 206);
    margin-bottom: 50px;
}

.cajaNosotros2 {
    display: flex;
    padding: 6rem;
    margin-bottom: 10px;
    justify-content: space-between;
    background-color: rgb(29, 28, 28);
}

.bordeComun2 {
    width: 432px;
    height: 386px;
    padding: 10px;
    border-color: #fff;
    border-style: groove;
    display: flex;
    align-items: center;
}

.contenidoCajaNosotros {
    padding: 95px 40px 30px 40px;
    font-size: 20px;    
}


.contenidoCajaNosotros2 {
    padding: 10px;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    color:#fff 
}

.imagenDerecha {
    width: 432px;
    height: 386px;
    display: inline-block;
}

/******** Vista Mobile - Media Queries  - Página Nosotros ********/ 

@media (max-width: 480px) {

    .cajaNosotros {
        width: 100%;
        height: 300px;
        background-color: rgb(188, 201, 206);
        
    }

    .contenidoCajaNosotros {
        padding: 50px 40px 10px 40px;
        font-size: 14px;
        justify-content: center; 
        align-content: center;   
    }

    .cajaNosotros2 {
        display: block;
        padding: 2rem;
        margin-bottom: 5px;
        justify-content: space-between;
        background-color:  rgb(29, 28, 28);
       
    }
    
    .bordeComun2 {
        width: 432px;
        height: 320px;
        padding: 10px;
        border-color: #fff;
        border-style: groove;
        
        align-items: center;
    
    }
    .contenidoCajaNosotros2 {
        padding: 15px;
        vertical-align: middle;
        text-align: center;
        color:#fff;
        font-size: 16px;
      
    }
    
    .imagenDerecha {
        width: 432px;
        height: 386px;
          
    }
    }

    /***** Media Querie min -481 px - max 600px - Página Nosotros ******/
@media (min-width: 481px) and (max-width: 600px) {
    .cajaNosotros {
        width: 100%;
        height: 300px;
        background-color: rgb(188, 201, 206);
        
    }

    .contenidoCajaNosotros {
        padding: 50px 40px 10px 40px;
        font-size: 14px;
        justify-content: center; 
        align-content: center;   
    }
    

    .cajaNosotros2 {
        display: block;
        
        margin-bottom: 5px;
        justify-content: space-between;
        background-color:  rgb(29, 28, 28);
       
    }
    
    .bordeComun2 {
        width: 432px;
        height: 320px;
        padding: 10px;
        border-color: #fff;
        border-style: groove;
        
        align-items: center;
    
    }
    .contenidoCajaNosotros2 {
        padding: 15px;
        vertical-align: middle;
        text-align: center;
        color:#fff;
        font-size: 16px;
      
    }
    
    .imagenDerecha {
        width: 432px;
        height: 386px;
          
    }
    }
/****** Media Querie min width 601px and max width: 900px - Página Nosotros ********/

@media (min-width: 601px) and (max-width: 900px) {
    .cajaNosotros {
        width: 100%;
        height: 250px;
        background-color: rgb(188, 201, 206);    
    }

    .contenidoCajaNosotros {
        padding: 50px 40px 10px 40px;
        font-size: 14px;
        justify-content: center; 
        align-content: center;   
    }

    .cajaNosotros2 {
        margin-bottom: 5px;
        justify-content: space-between;
        background-color:  rgb(29, 28, 28);
        display: inline-block;  
    }
    .bordeComun2 {
        width: 432px;
        height: 300px;
        padding: 10px;
        border-color: #fff;
        border-style: groove;
        display: inline-block;
        align-items: center;
    }
    .contenidoCajaNosotros2 {
        padding: 15px;
        vertical-align: middle;
        text-align: center;
        color:#fff;
        font-size: 16px;
    }
    
    .imagenDerecha {
        height: 300px;    
    } 
}