.titulo {
    margin : 40px;
    padding-top: 20px ;
    text-align: center;
}

.containerGrid{
    display: grid;
    width: 98%;
    height: 900px;
    margin-left: 10px;
    margin-bottom: 40px;
    background-color: rgb(221, 221, 221);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
}
.divPortfolio >img {
    width: 420px;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 15px;
}


/******** Vista Mobile - Media Queries - Página Portfolio   ********/ 

@media (max-width: 480px) {
    .containerGrid {
        width: 90%;
        height: 2500px;
        margin-left: 25px;
        margin-right: 40px;
        margin-bottom: 10px; 
        background-color: rgb(199, 199, 199);
        grid-template-columns: 1fr;
        grid-template-rows: 265px;
    }
    .divPortfolio >img {
        width: 100%;
        padding-top: 0;
        padding-left: 0;
        padding-bottom: 0;  
    }
    }

    /***** Media Querie min -481 px - max 600px - Página Portfolio  ******/
@media (min-width: 481px) and (max-width: 600px) {
    .containerGrid {
        width: 90%;
        height: 2500px;
        margin-left: 25px;
        margin-right: 40px;
        margin-bottom: 10px;
        background-color: rgb(199, 199, 199);
        grid-template-columns: 1fr;
        grid-template-rows: 265px;
    }
    .divPortfolio >img {
        width: 100%;
        padding-top: 0;
        padding-left: 0;
        padding-bottom: 0;
    }
    }

    /****** Media Querie min width 601px and max width: 900px - Página Portfolio  ********/

@media (min-width: 601px) and (max-width: 900px) {
    .containerGrid {
        width: 98%;
        height: 550px;
        margin-left: 10px;
        margin-right: 40px;
        margin-bottom: 5px;
        background-color: rgb(199, 199, 199);
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 180px 180px 180px;
    }
    .divPortfolio >img {
        width: 95%;
        padding-top: 20px;
        padding-left: 10px;
        padding-bottom: 5px; 
    }
    }